# Dependencies
node_modules/

# Production Build
dist/
build/

# Security
.env
.env.local
.env.*.local

# OS System Files
.DS_Store
Thumbs.db

# Raw Art Assets (Keep repo lightweight)
# Ignoring source files for graphics to save space
*.psd
*.aseprite
